.nav-items{
    padding-top: 40px;

.nav-item{
    align-items: center;
    display: flex;
    padding: 25px 50px;
    cursor: pointer;
    @media  only screen and (max-width:1300px) {
        padding: 25px 40px;

        
    }
    &:hover{
        background-color: rgb(1, 38, 69);
    }
    svg{
        font-size: 22px;
        margin-right: 20px;
    }
    span{
        display: inline;
        @media only screen and (max-width:1300px){
            // display: none;
        }
    }
}
}
